<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.action" />
    <context:component-scan base-package="com.service" />
    <context:component-scan base-package="com.interceptor" />
    <context:annotation-config/>

    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/dbapp?serverTimezone=UTC"/>
        <property name="username" value="root"/>
        <property name="password" value="15023660918"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.model"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

<!--    <bean id="struts2ObjectFactory" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">-->
<!--        <property name="targetObject" ref="strutsObjectFactory" />-->
<!--        <property name="targetMethod" value="setSpringFactory" />-->
<!--        <property name="arguments">-->
<!--            <list>-->
<!--                <ref bean="org.springframework.beans.factory.config.AutowireCapableBeanFactory" />-->
<!--            </list>-->
<!--        </property>-->
<!--    </bean>-->

<!--    <bean id="strutsObjectFactory" class="org.apache.struts2.spring.StrutsSpringObjectFactory">-->
<!--        <property name="applicationContext" ref="applicationContext" />-->
<!--        <property name="useClassCache" value="true" />-->
<!--    </bean>-->


    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>
